/* @font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter-Bold.ttf');
    font-weight: 700;
} */

@font-face {
    
    font-family: 'Inter';    
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),        
       url('../fonts/Inter-Bold.woff') format('woff');     
    font-weight: 700;           
    font-display: swap;
 }
 
 @font-face {
    font-family: 'Inter';     
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),       
       url('../fonts/Inter-SemiBold.woff') format('woff');    
    font-weight: 600;        
    font-display: swap;
 }

 @font-face {  
    font-family: 'Inter';    
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),        
       url('../fonts/Inter-Medium.woff') format('woff');    
    font-weight: 500;             
    font-display: swap;
 }
 
 @font-face {   
    font-family: 'Inter';     
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),         
       url('../fonts/Inter-Regular.woff') format('woff');    
    font-weight: 400;          
    font-display: swap;
 }
  
 


:root { 
    --color-primary: #21243D; 
    --color-secondary: #8695A4;
    --color-background: #fff; 
    --color-background-brand: #EDF7FA;
    --color-background-year: #2A326F;
    --color-action: #FF6464;
    --color-white: #fff; 
    --color-brand: #169799;
    --color-footer: #678398;
}


body {
    color: var(--color-primary);
    font-family: 'Inter', sans-serif;     
    /* font-family: 'Heebo', sans-serif; */
    font-weight: 400;    
    font-size: 16px;
    background-color: var(--color-background);    
}

::selection {
    background-color: var(--color-brand);
    color: var(--color-white);   
}

ul {
    list-style-type: none;
}     

/* .list {
    list-style-type: none;
} */

/* UI element */
.link {
    color: var(--color-primary);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}


.link:hover {

    text-decoration: underline;
}


.button {
    color: var(--color-white);
    font-weight: 600;
    line-height: 1.5;
    font-family: inherit;
    background-color:  var(--color-action);
    text-decoration: none;
    border: none;
}

.button:hover {
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
 }


/* Section */

.section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.section-brand {
    background-color: var(--color-background-brand);
    /* ГОЛУБАЯ ЗАЛИВКА СЕКЦИИ ПОСТОВ */
}

.view-all-link {
    color: var(--color-brand);
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}

.view-all-link:hover {
    text-decoration: underline;
}


/* Hero section */
.hero-title { 

    /* font-family: 'Inter', sans-serif;     */
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;    
}

.body-text {
    line-height: 1.5;
}

/* Post */
.post {
    background-color: var(--color-background);
}

.list-item-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5; 
}
 
.post-info {
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.5; 
}

/* Featured Work section */

.year-styling {
    color: var(--color-white); 
    background-color: var(--color-background-year);
    font-weight: 500; 
    line-height: 1.5; 
}


/* Footer */

.footer-text {
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-footer);
    text-align: center;  
}


/* BLOG PAGE */

.secondary-main-title {
    font-weight: 700; 
    font-size: 40px;
    line-height: 1.0;
}

/* WORK PAGE */

/* .secondary-main-title */












